h2, h3, h4, h5 {
  color: green;
  font-style: sans-serif;
}

th {
  color: green;
  font-weight: bold;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid grey;
  text-align: center;
}

ul {
  list-style-type: square;
}

a:hover {
  color: green;
  text-decoration: none;
}

blockquote {
  background-color: navy;
  color: white;
}

ul>li>img {
  position: relative;
  background-image: auto;
}
